/* general body */
body {
    background-image: url(images/plant1.jpeg);
    background-color: #b3b3b3;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

body,html {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

}

/* pic of me */
img{
    margin-top: 5%;
    border-radius: 50%;
    box-shadow: 0px 6px 5px black;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 0px 6px 5px black;
}

/* nav bar stuff */
#mainNavbar .navbar-brand{
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
}

#mainNavbar .navbar-brand:hover{
    color: gray;
    transition: color 800ms;
}

#mainNavbar .navbar-nav > li{
    padding-left:20px;
  }

.nav-item{
    text-align: right;
    font-weight: 700;
    font-size: 1rem;
}

#mainNavbar .nav-link{
    color:black;
}

#mainNavbar .nav-link:hover{
    color: gray;
    transition: color 800ms;
}

#mainNavbar{
    font-size: 1.3rem;
    font-weight: 100;
    text-transform: uppercase;
}

.navbar.scrolled{
    background: white;
    transition: background 500ms;
}

/* jumbotron */
#header1 {
    padding-top: 10%;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    text-align: center;
}


#header1 h4{
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.content{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    padding-bottom: 35rem;
}

.content hr {
    width: 50%;
    margin: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
} 


/* sections */

.section{
    padding-bottom: 5rem;
    
}

.section h1{
    font-family: 'Poppins', sans-serif;   
    font-weight: 400;
    text-transform: uppercase;
}

hr{
    border: 0;
    width: 80%;
    margin-top: 4rem;
    /* margin: auto; */
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1 {
    font-family: 'Poppins', sans-serif;   
    margin-top: 3rem;
    text-align: center;
    color: black;
    font-weight: 400;
}
p { 
    color: #ffffff;
    text-indent: 0px;
    font-size: 1.3rem;
    font-weight: 300;
    /* margin: 2% 23% 2% 23%; */
    margin: auto;
    /* line-height: 40px; */
    line-height: 2.5rem;
}
a{
    text-decoration: none;
}


@media (max-width:767px) {
    .navbar{
      background-color:white;
    }
  }
